{% extends "../base.html" %}
{% block title %}Blog{% endblock %}


{% block content %}
<div class="container text-bg-dark" style="padding-right: 3rem; padding-left: 3rem;">
    
    <div class="text-center pt-5">
        {{post.link|safe}}
    </div>
    <h3 style="margin-top: 5rem;"><a href="{% url 'post' post.id %}">{{post.title}}</a></h3>
    <h6>on {{post.date}}</h6>
    
    <p>{{post.detail|linebreaks}}</p>
    
    <div class="d-flex" style="padding-top: 3rem; padding-bottom: 3rem;">
        <button onclick="location.href='{% url "blog" %}';" style="background-color: black; color: #fff; border: none; height: 50px; padding-left: 10px; padding-right: 10px; border-radius: 7px 0 0 7px;"><i class="fa-solid fa-arrow-left"></i></button>
        <button onclick="location.href='{% url "blog" %}';" style="background-color: #198754; color: #fff; border: none; padding-left: 10px; padding-right: 10px; border-radius: 0 7px 7px 0;">Come Back</button>
    </div>
</div>

{% endblock %}